@font-face {
    font-family: "Shortie Principal";
    src: url("../fonts/PoetsenOne-Regular-2.ttf");
  }

  @font-face {
    font-family: "Shortie Admin Name";
    src: url("../fonts/Gotham-Medium.otf");
  }