.qr-test-container {
  background-image: url('../img/prueba.png');
  background-size: auto 150%;
  background-position: center center;
  background-repeat: no-repeat;
}

.sign-up-container {
  background-image: url('../img/compu.png');
  background-size: 180% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .qr-test-container {
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  .qrTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #00A6E2;
    padding: 0.2em .5em 0.2em .5em;
    font-size: 2em !important;
    color: white;
    border-radius: 50px;

    margin-bottom: 1em;
  }

  .qrContent {
    font-size: 1.3em !important;
    text-align: center;
  }

}

@media (min-width: 767px) {
  .qr-test-container {
    height: 90vh;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .qrTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #00A6E2;
    padding: 0.2em .5em 0.2em .5em;
    font-size: 2em !important;
    width: 47%;
    color: white;
    border-radius: 50px;

    margin-bottom: 1em;
  }

  .qrContent {
    font-size: 1.3em !important;
  }
}



@media (max-width: 767px) {
  .menu-visual-container {
    height: auto;
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
  }

  .menuTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #00A6E2;
    padding: 0.2em .5em 0.2em .5em;
    font-size: 1.5em !important;
    color: white;
    border-radius: 50px;
    margin-bottom: 20px;
  }

  .mv-center-image-dlv>img {
    width: 80% !important;
    margin-bottom: 20px;
  }
}

@media (min-width: 767px) {
  .menu-visual-container {
    height: 90vh;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
  }

  .menuTitle {
    display: block;
    text-align: center;
    background-color: #00A6E2;
    padding: 0.2em .5em 0.2em .5em;
    font-size: 2.5em !important;
    width: 47%;
    color: white;
    border-radius: 50px;

    margin-bottom: 1em;
  }

}








.navImgLogin {
  width: 100%;
  height: 100px;
  background-color: red;
}

.loginScreen {
  background-color: #04c4f4;
  width: 100vw !important;
  height: 100vh;
}


@media (max-width: 600px) {
  .centeredLogin {
    border-radius: 25px;
    width: 80%;
    height: 35%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 50px;
    background-color: white;
  }
}

@media (min-width: 500px) {
  .centeredLogin {
    border-radius: 25px;
    width: 30%;
    height: 45%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top: 120px;
    background-color: white;
  }
}



.divFormLogin {
  margin-top: 40px !important;
  margin-bottom: 20px !important;
  position: relative;
}

.divFormLogin>input {
  width: 100% !important;
  height: .5em;
  font-size: .85em !important;
  padding: 1.2em 0px 1em 1em;
  border: 2px solid #00A6E2;
  border-radius: 50px;
  outline: none !important;
  outline-color: #336475;

}

.divFormTituloLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00A6E2;
  padding: 0.1em 0em 0.1em 0em;
  font-size: 1em !important;
  width: 100px;
  color: white;
  border-radius: 50px;
  position: absolute;
  top: -1.5em;
  left: -20px;
}

.textTitleLogin {
  font-family: "Shortie Principal" !important;
  font-size: 1.5em;
  text-align: right;
}

.buttonLogin {
  float: right;
  background-color: #00A6E2;
  font-family: "Shortie Admin Name" !important;
  font-size: .75em;
  border-radius: 50px;
  margin: 0px 15px 0px 0px;
}

.loader {
  float: right;
  margin: 0px 15px 0px 0px;
}

.buttonRegistro {
  background-color: transparent;
  color: black;
  font-family: "Shortie Admin Name" !important;
  font-size: .55em;
  border-radius: 50px;
  outline-color: #336475;
  margin: 0px 0px 0px 10px;
}




.mv-center-image-dlv {
  display: flex;
  justify-content: center;
  align-items: center;

}

.mv-center-image-dlv>img {
  border-radius: 3em;

}

.mv-center-image-content {
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.mv-center-image-content>div {
  font-size: 1.2em !important;
  border: 2px solid #00A6E2;
  border-radius: 50px;
  outline-color: #336475;
  padding: 5px 10px 5px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mv-center-image-content>div>h4 {
  font-size: 1.1em !important;
}

.menuDescription {
  width: 100% !important;
  height: 2em;
  font-size: 1.5em !important;
  padding: 0.2em 0px 1.5em 2em;
  border: 2px solid #00A6E2;
  border-radius: 50px;
  outline-color: #336475;

}


/*------------------------------------------- Accordeon -----------------------------------------------------*/
.accordeon-card-class {
  background-color: transparent;
  border-color: #00a6e2;
}

.accordeon-toggle-class {
  background-color: transparent;
  border-color: #00a6e2;
  color: #00a6e2;
  cursor: pointer;
}

.accordeon-collapse-class {}

.prueba-no-se-que-pasa {
  width: 100% !important;
  margin: 0px !important;
}


@media (max-width: 767px) {
  .sign-up-container {
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  .titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A6E2;
    padding: 0.2em 1em 0.2em 1em;
    font-size: 1.8em !important;
    width: auto;
    color: white;
    border-radius: 50px;

    margin-bottom: .5em;
  }
}

@media (min-width: 767px) {
  .sign-up-container {
    height: 90vh;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00A6E2;
    padding: 0.2em 1em 0.2em 1em;
    font-size: 2.5em !important;
    width: 180px;
    color: white;
    border-radius: 50px;

    margin-bottom: 1em;
  }
}