

/*--------------------------Planes--------------------------------*/
:root {
  --main-size-height: 89%;
}



.container-plan {
  position: relative;

  border: 10px solid #00A6E2;
  border-radius: 30px;
  width: 100% !important;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px !important;
}

.plan-title {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2em !important;
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2em;
}
.curvas {
  width: 100%;
  position: relative;
  height: 25px;
}
.curvas::before{
  content: '';
  position: absolute;
  top: 0px;
  width: 100%;
  height: 12.5px;
  background: radial-gradient(40% 100px ellipse at 22% 100px, transparent var(--main-size-height), #00A6E2 var(--main-size-height),  #00A6E2 100%, transparent 100%),
  radial-gradient(40% 100px ellipse at 78% 100px, transparent var(--main-size-height), #00A6E2 var(--main-size-height),  #00A6E2 100%, transparent 100%),
  radial-gradient(40% 100px ellipse at 50% 100px, transparent var(--main-size-height), #b0dbeb var(--main-size-height),  #b0dbeb 100%, transparent 100%),
  radial-gradient(40% 100px ellipse at -6% 100px, transparent var(--main-size-height), #b0dbeb var(--main-size-height),  #b0dbeb 100%, transparent 100%),
  radial-gradient(40% 100px ellipse at 106% 100px, transparent var(--main-size-height), #b0dbeb var(--main-size-height),  #b0dbeb 100%, transparent 100%)
  ;
}
.curvas::after{
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 12.5px;
  background: radial-gradient(40% 100px ellipse at 106% -87.5px, transparent var(--main-size-height), #00A6E2 var(--main-size-height),  #00A6E2 100%, transparent 100%),
  radial-gradient(40% 100px ellipse at 50% -87.5px, transparent var(--main-size-height), #00A6E2 var(--main-size-height),  #00A6E2 100%, transparent 100%),
  radial-gradient(40% 100px ellipse at -6% -87.5px, transparent var(--main-size-height), #00A6E2 var(--main-size-height),  #00A6E2 100%, transparent 100%),
  radial-gradient(40% 100px ellipse at 22% -87.5px, transparent var(--main-size-height), #b0dbeb var(--main-size-height),  #b0dbeb 100%, transparent 100%),
  radial-gradient(40% 100px ellipse at 78% -87.5px, transparent var(--main-size-height), #b0dbeb var(--main-size-height),  #b0dbeb 100%, transparent 100%)
  ;
}

.linea-2 {
  position: absolute;
  height: 25px !important;
  width: 10px !important;
  background-color: #00A6E2;
  right: -10px;
  z-index: 10000;
}

.linea {
  position: absolute;
  height: 25px !important;
  width: 10px !important;
  background-color: #00A6E2;
  left: -10px;
  z-index: 10000;
}

.plan-img {
  background-color: #00A6E2;
  z-index: -10;
}

.plan-img > img {
  position: relative;
  top: -14.5px;
  border-radius: 0 0 20px 20px;
  width: 100% !important;
}

.plan-texto {
  background-color: #00A6E2;
}

.texto-subtitulo {
  color: white;
  font-size: 1.4em;
}

.texto-descripcion {
  text-align: justify;
  color: white;
  font-size: 1em;
}

.texto-boton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-boton > button {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  height: 40px;
  border-radius: 40px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border: 2px solid black;
  background-color: black;
  color: white;
  outline: none !important;
}

.texto-boton-hover:hover {
  background-color: transparent;
  color: black;
}

.barra-sombra {
  position: absolute;
  bottom: -60px !important;
  width: 100%;
  height: 8px;
  border-radius: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 74px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 74px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 74px 0px rgba(0, 0, 0, 0.75);
  filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.829);
}

.phantom-plan {
  display: block !important;
  height: 58px;
  width: 100%;
}


/* ---------------------------- Principal -------------------------*/

/* .plans-principal-container{
  background-image: url('https://shortie-images.s3.us-east-2.amazonaws.com/background/background-image-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150% auto;
} */


@media (max-width: 767px) {
  .plans-principal-container{
    height: auto;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
  }
  
}

@media (min-width: 767px) {
  .plans-principal-container{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
}